@{
    ViewData["Title"] = "Accueil";
}

<div class="text-center">
    <h1 class="display-4">Bienvenue</h1>
    <p>Vous etes bien sur l'annuaire pour pouvoir contacter vos collaborateurs d'entreprise</p>
    <p>Si il manque un de vos collaborateurs, merci de contacter un de vos supérieur pour qu'un administrateur puissent regler le probleme</p>
</div>
